h1 {
    color: blue;
}

.grid-container {
    display: grid;
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    grid-template-columns: 33% 33% 33%;
    /* grid-template-rows: 33% 33% 33% */
}
.grid-container div {
    border: 1px solid black;
    height: 20vh;
    
}

.mole-hole {
    height: 18vh;
    width: 18vh;
    border-radius: 50%;
    display: block;
    margin: auto
}
.mole-hole img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;

}